files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log
Resources:
  MyDNSRecord:
    Properties:
      AliasTarget:
        HostedZoneId: { "Fn::GetAtt" : ["AWSEBLoadBalancer", "CanonicalHostedZoneNameID"] }
        DNSName: {"Fn::GetAtt" : ["AWSEBLoadBalancer", "DNSName"]}
      HostedZoneId: Z2ETHSVJ0KLOFF
      Name: bhupatest.kirankuc.myinstance.com
      Type: A
    Type: AWS::Route53::RecordSet
